<?xml version="1.0" encoding="UTF-8"?>

<!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
<!--
# CommonSpot Server web.config file

**IIS Manager does not move comments with rules.**
**Please reorder this file manually**

This file should be present in the IIS root of all CommonSpot Servers
- GeorgeLucas (Development Authoring)
- HanSolo (ROD)
- LukeSkywalker (ROD)
- GeneRoddenberry (Production Authoring)
- CaptainKirk (ROP)
- MisterSpock (ROP)
-->
<!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->

<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <clear />

        <rule name="Kill Switch, All Sites, All Traffic" enabled="false" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="/be-right-back.html" logRewrittenUrl="true" />
        </rule>

        <rule name="Kill Switch, All Sites, Non-Local Traffic" enabled="false" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="/be-right-back.html" logRewrittenUrl="true" />
          <conditions>
            <add input="{REMOTE_ADDR}" pattern="^127\." negate="true" />
            <add input="{REMOTE_ADDR}" pattern="^0\." negate="true" />
            <add input="{REMOTE_ADDR}" pattern="^10\.10\.16\.33$" negate="true" />
            <add input="{REMOTE_ADDR}" pattern="^10\.10\.16\.34$" negate="true" />
            <add input="{REMOTE_ADDR}" pattern="^10\.10\.16\.35$" negate="true" />
            <add input="{REMOTE_ADDR}" pattern="^10\.10\.16\.204$" negate="true" />
            <add input="{REMOTE_ADDR}" pattern="^10\.10\.16\.205$" negate="true" />
            <add input="{REMOTE_ADDR}" pattern="^10\.10\.16\.206$" negate="true" />

            <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
            **CaptainKirk:**     10.10.16.33
            **MisterSpock:**     10.10.16.34
            **GeneRoddenberry:** 10.10.16.35
            **HanSolo:**         10.10.16.204
            **LukeSkywalker:**   10.10.16.205
            **GeorgeLucas:**     10.10.16.206
            =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- -->
          </conditions>
        </rule>

        <rule name="Stop Processing for In-Site CMS Resources" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
            <add input="{URL}" pattern="^/_cs_apps(/|$)" />
            <add input="{URL}" pattern="^/_cs_resources(/|$)" />
            <add input="{URL}" pattern="^/_cs_upload(/|$)" />
            <add input="{URL}" pattern="^/_cs_xmlpub(/|$)" />
            <add input="{URL}" pattern="^/adf(/|$)" />
            <add input="{URL}" pattern="^/cfdocs(/|$)" />
            <add input="{URL}" pattern="^/cfide(/|$)" />
            <add input="{URL}" pattern="^/commonspot(/|$)" />
            <add input="{URL}" pattern="^/cs-resources\.cfm" />
            <add input="{URL}" pattern="^/jakarta(/|$)" />
          </conditions>
          <action type="None" />
        </rule>

        <rule name="Rewrite Authoring robots.txt" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^robots.txt$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(?:dev)?author\.mercer\.edu$" />
          </conditions>
          <action type="Rewrite" url="robots-authoring.txt" appendQueryString="true" logRewrittenUrl="true" />
        </rule>

        <rule name="Rewrite Read-Only robots.txt" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^robots.txt$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(?:dev)?author\.mercer\.edu$" negate="true" />
          </conditions>
          <action type="Rewrite" url="robots-read-only.txt" appendQueryString="true" logRewrittenUrl="true" />
        </rule>

        <rule name="Production Authoring IIS and www CS Site Roots Redirect to www Site My CS" enabled="true" stopProcessing="true">
          <match url="(?:^$|^www/?$)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
            <add input="{HTTP_HOST}" pattern="^author\.mercer\.edu$" />
            <add input="{REQUEST_METHOD}" pattern="^get$" />
          </conditions>
          <action type="Redirect" url="https://author.mercer.edu/commonspot/dashboard/index.html#mode=mycs&amp;url=/www/" appendQueryString="true" />
        </rule>

        <rule name="www Site File URL Fallback" enabled="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{DOCUMENT_ROOT}{URL}" matchType="IsFile" negate="true" />
            <add input="{DOCUMENT_ROOT}/www{URL}" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="www{URL}" />
        </rule>

        <rule name="www Site Directory URL Fallback" enabled="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{DOCUMENT_ROOT}{URL}" matchType="IsDirectory" negate="true" />
            <add input="{DOCUMENT_ROOT}/www{URL}" matchType="IsDirectory" />
          </conditions>
          <action type="Rewrite" url="www{URL}" />
        </rule>

        <rule name="Authoring Servers Ignore the Rest" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTP_HOST}" pattern="^(?:dev)?author\.mercer\.edu$" />
          </conditions>
          <action type="None" />
        </rule>

        <rule name="Redirect index.cfm to a Slash" enabled="true" stopProcessing="true">
          <match url="(^|.*?/)index\.(?:cfm|html)$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{REQUEST_METHOD}" pattern="^get$" />
          </conditions>
          <action type="Redirect" url="{R:1}" />
        </rule>

        <rule name="Downcase URL" enabled="true" stopProcessing="true">
          <match url="[A-Z]" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{REQUEST_METHOD}" pattern="get" />
            <add input="{URL}" pattern="(\.cfm|\.html|/)$" />
          </conditions>
          <action type="Redirect" url="{ToLower:{URL}}" appendQueryString="true" />
        </rule>

        <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
        ## Redirects
        =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- -->

        <rule name="Redirect penfield.mercer.edu to professionaladvancement.mercer.edu (HTTP)" enabled="true" stopProcessing="true">
          <match url=".*" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
            <add input="{HTTPS}" pattern="^off$" />
            <add input="{REQUEST_METHOD}" pattern="^get$" />
            <add input="{HTTP_HOST}" pattern="^penfield\.mercer\.edu$" negate="false" />
          </conditions>
          <action type="Redirect" url="http://professionaladvancement.mercer.edu{URL}" appendQueryString="true" />
        </rule>
        <rule name="Redirect penfield.mercer.edu to professionaladvancement.mercer.edu (HTTPS)" enabled="true" stopProcessing="true">
          <match url=".*" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
            <add input="{HTTPS}" pattern="^on$" />
            <add input="{REQUEST_METHOD}" pattern="^get$" />
            <add input="{HTTP_HOST}" pattern="^penfield\.mercer\.edu$" negate="false" />
          </conditions>
          <action type="Redirect" url="https://professionaladvancement.mercer.edu{URL}" appendQueryString="true" />
        </rule>

        <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
            ### Redirect mercer.edu to www.mercer.edu

            IMPORTANT: Keep this in place!

            In DNS mercer.edu, has to point to an IP and this works for now.
        =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- -->

        <rule name="Redirect mercer.edu to www.mercer.edu (HTTP)" enabled="true" stopProcessing="true">
          <match url=".*" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
            <add input="{HTTPS}" pattern="^off$" />
            <add input="{REQUEST_METHOD}" pattern="^get$" />
            <add input="{HTTP_HOST}" pattern="^mercer\.edu$" negate="false" />
          </conditions>
          <action type="Redirect" url="http://www.mercer.edu{URL}" appendQueryString="true" />
        </rule>
        <rule name="Redirect mercer.edu to www.mercer.edu (HTTPS)" enabled="true" stopProcessing="true">
          <match url=".*" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
            <add input="{HTTPS}" pattern="^on$" />
            <add input="{REQUEST_METHOD}" pattern="^get$" />
            <add input="{HTTP_HOST}" pattern="^mercer\.edu$" negate="false" />
          </conditions>
          <action type="Redirect" url="https://www.mercer.edu{URL}" appendQueryString="true" />
        </rule>

        <!-- ### Redirect mu-* to *.mercer.edu -->
        <rule name="Redirect mu-* to *.mercer.edu (HTTP)" enabled="true" stopProcessing="true">
          <match url="^(?:www/)?mu-(.+?)(/.*|$)" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
            <add input="{HTTPS}" pattern="^off$" />
            <add input="{REQUEST_METHOD}" pattern="^get$" />
            <add input="{HTTP_HOST}" pattern="^(dev)?" negate="false" />
            <add input="{URL}" pattern="(?:\.cfm|\.html|/)$" />
          </conditions>
          <action type="Redirect" url="http://{C:1}{R:1}.mercer.edu{R:2}" appendQueryString="true" />
        </rule>
        <rule name="Redirect mu-* to *.mercer.edu (HTTPS)" enabled="true" stopProcessing="true">
          <match url="^(?:www/)?mu-(.+?)(/.*|$)" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
            <add input="{HTTPS}" pattern="^on$" />
            <add input="{REQUEST_METHOD}" pattern="^get$" />
            <add input="{HTTP_HOST}" pattern="^(dev)?" negate="false" />
            <add input="{URL}" pattern="(?:\.cfm|\.html|/)$" />
          </conditions>
          <action type="Redirect" url="https://{C:1}{R:1}.mercer.edu{R:2}" appendQueryString="true" />
        </rule>

        <!-- ### Redirect com-* to *.com -->
        <rule name="Redirect com-* to *.com (HTTP)" enabled="true" stopProcessing="true">
          <match url="^(?:www/)com-(.+?)(/.*|$)" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
            <add input="{HTTPS}" pattern="^off$" />
            <add input="{REQUEST_METHOD}" pattern="^get$" />
            <add input="{HTTP_HOST}" pattern="^(dev)?" negate="false" />
            <add input="{URL}" pattern="(?:\.cfm|\.html|/)$" />
          </conditions>
          <action type="Redirect" url="http://{C:1}{R:1}.com{R:2}" appendQueryString="true" />
        </rule>
        <rule name="Redirect com-* to *.com (HTTPS)" enabled="true" stopProcessing="true">
          <match url="^(?:www/)com-(.+?)(/.*|$)" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
            <add input="{HTTPS}" pattern="^on$" />
            <add input="{REQUEST_METHOD}" pattern="^get$" />
            <add input="{HTTP_HOST}" pattern="^(dev)?" negate="false" />
            <add input="{URL}" pattern="(?:\.cfm|\.html|/)$" />
          </conditions>
          <action type="Redirect" url="https://{C:1}{R:1}.com{R:2}" appendQueryString="true" />
        </rule>

        <!-- ### Redirect tv-* to *.tv -->
        <rule name="Redirect tv-* to *.tv (HTTP)" enabled="true" stopProcessing="true">
          <match url="^(?:www/)tv-(.+?)(/.*|$)" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
            <add input="{HTTPS}" pattern="^off$" />
            <add input="{REQUEST_METHOD}" pattern="^get$" />
            <add input="{HTTP_HOST}" pattern="^(dev)?" negate="false" />
            <add input="{URL}" pattern="(?:\.cfm|\.html|/)$" />
          </conditions>
          <action type="Redirect" url="http://{C:1}{R:1}.tv{R:2}" appendQueryString="true" />
        </rule>
        <rule name="Redirect tv-* to *.tv (HTTPS)" enabled="true" stopProcessing="true">
          <match url="^(?:www/)tv-(.+?)(/.*|$)" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
            <add input="{HTTPS}" pattern="^on$" />
            <add input="{REQUEST_METHOD}" pattern="^get$" />
            <add input="{HTTP_HOST}" pattern="^(dev)?" negate="false" />
            <add input="{URL}" pattern="(?:\.cfm|\.html|/)$" />
          </conditions>
          <action type="Redirect" url="https://{C:1}{R:1}.tv{R:2}" appendQueryString="true" />
        </rule>

        <!-- ### Unnecessarily deep redirects -->

        <rule name="Redirect 3+ level MU domains and 2+ other TLD level domains to 3 and 2 levels, respectively (HTTP)" enabled="true" stopProcessing="true">
          <match url=".*" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
            <add input="{HTTPS}" pattern="^off$" />
            <add input="{HTTP_HOST}" pattern="\.([^\.]+\.(?:com|tv)|[^\.]+\.mercer\.edu)$" />
          </conditions>
          <action type="Redirect" url="http://{C:1}{URL}" appendQueryString="true" />
        </rule>

        <rule name="Redirect 3+ level MU domains and 2+ other TLD level domains to 3 and 2 levels, respectively (HTTPS)" enabled="true" stopProcessing="true">
          <match url=".*" negate="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
            <add input="{HTTPS}" pattern="^on$" />
            <add input="{HTTP_HOST}" pattern="\.([^\.]+\.(?:com|tv)|[^\.]+\.mercer\.edu)$" />
          </conditions>
          <action type="Redirect" url="https://{C:1}{URL}" appendQueryString="true" />
        </rule>

        <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
        ## Rewrites

        The *.mercer.edu, *.com and *.tv rewrites do not match
        the entire incoming URL, so {URL} not {R:0} is used
        =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->

        <!-- Rewrite *.mercer.edu Subdomains -->
        <rule name="Rewrite Files *.mercer.edu to mu-*" enabled="true" patternSyntax="ECMAScript" stopProcessing="false">
          <match url="^www/mu-" negate="true" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
            <add input="{HTTP_HOST}" pattern="^(?:dev)?(.+?)\.mercer\.edu$" />
            <add input="{DOCUMENT_ROOT}/www/mu-{C:1}{URL}" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="www/mu-{C:1}{URL}" logRewrittenUrl="true" />
        </rule>
        <rule name="Rewrite Directories *.mercer.edu to mu-*" enabled="true" patternSyntax="ECMAScript" stopProcessing="false">
          <match url="^www/mu-" negate="true" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
            <add input="{HTTP_HOST}" pattern="^(?:dev)?(.+?)\.mercer\.edu$" />
            <add input="{DOCUMENT_ROOT}/www/mu-{C:1}{URL}" matchType="IsDirectory" />
          </conditions>
          <action type="Rewrite" url="www/mu-{C:1}{URL}" logRewrittenUrl="true" />
        </rule>

        <!-- Rewrite *.com Subdomains -->
        <rule name="Rewrite Files *.com to com-*" enabled="true" patternSyntax="ECMAScript" stopProcessing="false">
          <match url="^www/com-" negate="true" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
            <add input="{HTTP_HOST}" pattern="^(?:dev)?(.+?)\.com$" />
            <add input="{DOCUMENT_ROOT}/www/com-{C:1}{URL}" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="www/com-{C:1}{URL}" logRewrittenUrl="true" />
        </rule>
        <rule name="Rewrite Directories *.com to com-*" enabled="true" patternSyntax="ECMAScript" stopProcessing="false">
          <match url="^www/com-" negate="true" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
            <add input="{HTTP_HOST}" pattern="^(?:dev)?(.+?)\.com$" />
            <add input="{DOCUMENT_ROOT}/www/com-{C:1}{URL}" matchType="IsDirectory" />
          </conditions>
          <action type="Rewrite" url="www/com-{C:1}{URL}" logRewrittenUrl="true" />
        </rule>

        <!-- Rewrite *.tv Subdomains -->
        <rule name="Rewrite Files *.tv to tv-*" enabled="true" patternSyntax="ECMAScript" stopProcessing="false">
          <match url="^www/tv-" negate="true" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
            <add input="{HTTP_HOST}" pattern="^(?:dev)?(.+?)\.tv$" />
            <add input="{DOCUMENT_ROOT}/www/tv-{C:1}{URL}" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="www/tv-{C:1}{URL}" logRewrittenUrl="true" />
        </rule>
        <rule name="Rewrite Directories *.tv to tv-*" enabled="true" patternSyntax="ECMAScript" stopProcessing="false">
          <match url="^www/tv-" negate="true" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
            <add input="{HTTP_HOST}" pattern="^(?:dev)?(.+?)\.tv$" />
            <add input="{DOCUMENT_ROOT}/www/tv-{C:1}{URL}" matchType="IsDirectory" />
          </conditions>
          <action type="Rewrite" url="www/tv-{C:1}{URL}" logRewrittenUrl="true" />
        </rule>

        <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
                 Special Rules: After all the regular rules
                =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- -->

        <!-- None at present -->

      </rules>
      <outboundRules>
        <clear />

        <!-- Add Debugging Headers -->

        <rule name="Add Debugging Header: X-DEBUG-IIS-CONTENT-TYPE" preCondition="Is Debugging" enabled="true" patternSyntax="ECMAScript" stopProcessing="false">
          <match serverVariable="RESPONSE_X_DEBUG_IIS_CONTENT_TYPE" pattern=".*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true" />
          <action type="Rewrite" value="{CONTENT_TYPE}" />
        </rule>
        <rule name="Add Debugging Header: X-DEBUG-IIS-HTTP-REFERER" preCondition="Is Debugging" enabled="true" patternSyntax="ECMAScript" stopProcessing="false">
          <match serverVariable="RESPONSE_X_DEBUG_IIS_HTTP_REFERER" pattern=".*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true" />
          <action type="Rewrite" value="{HTTP_REFERER}" />
        </rule>
        <rule name="Add Debugging Header: X-DEBUG-IIS-ORIGINAL-URI" preCondition="Is Debugging" enabled="true" patternSyntax="ECMAScript" stopProcessing="false">
          <match serverVariable="RESPONSE_X_DEBUG_IIS_ORIGINAL_URI" pattern=".*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true" />
          <action type="Rewrite" value="{ORIGINAL_URI}" />
        </rule>
        <rule name="Add Debugging Header: X-DEBUG-IIS-PATH-INFO" preCondition="Is Debugging" enabled="true" patternSyntax="ECMAScript" stopProcessing="false">
          <match serverVariable="RESPONSE_X_DEBUG_IIS_PATH_INFO" pattern=".*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true" />
          <action type="Rewrite" value="{PATH_INFO}" />
        </rule>
        <rule name="Add Debugging Header: X-DEBUG-IIS-REMOTE-ADDR" preCondition="Is Debugging" enabled="true" patternSyntax="ECMAScript" stopProcessing="false">
          <match serverVariable="RESPONSE_X_DEBUG_IIS_REMOTE_ADDR" pattern=".*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true" />
          <action type="Rewrite" value="{REMOTE_ADDR}" />
        </rule>
        <rule name="Add Debugging Header: X-DEBUG-IIS-REQUEST-FILENAME" preCondition="Is Debugging" enabled="true" patternSyntax="ECMAScript" stopProcessing="false">
          <match serverVariable="RESPONSE_X_DEBUG_IIS_REQUEST_FILENAME" pattern=".*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true" />
          <action type="Rewrite" value="{REQUEST_FILENAME}" />
        </rule>
        <rule name="Add Debugging Header: X-DEBUG-IIS-SCRIPT-FILENAME" preCondition="Is Debugging" enabled="true" patternSyntax="ECMAScript" stopProcessing="false">
          <match serverVariable="RESPONSE_X_DEBUG_IIS_SCRIPT_FILENAME" pattern=".*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true" />
          <action type="Rewrite" value="{SCRIPT_FILENAME}" />
        </rule>
        <rule name="Add Debugging Header: X-DEBUG-IIS-SCRIPT-NAME" preCondition="Is Debugging" enabled="true" patternSyntax="ECMAScript" stopProcessing="false">
          <match serverVariable="RESPONSE_X_DEBUG_IIS_SCRIPT_NAME" pattern=".*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true" />
          <action type="Rewrite" value="{SCRIPT_NAME}" />
        </rule>
        <rule name="Add Debugging Header: X-DEBUG-IIS-REQUEST-URI" preCondition="Is Debugging" enabled="true" patternSyntax="ECMAScript" stopProcessing="false">
          <match serverVariable="RESPONSE_X_DEBUG_IIS_REQUEST_URI" pattern=".*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true" />
          <action type="Rewrite" value="{REQUEST_URI}" />
        </rule>
        <rule name="Add Debugging Header: X-DEBUG-IIS-URL" preCondition="Is Debugging" enabled="true" patternSyntax="ECMAScript" stopProcessing="false">
          <match serverVariable="RESPONSE_X_DEBUG_IIS_URL" pattern=".*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true" />
          <action type="Rewrite" value="{URL}" />
        </rule>

        <!-- Add Security Headers -->

        <rule name="Add Header: Access-Control-Allow-Origin (WOFF)" preCondition="Is WOFF" enabled="true" patternSyntax="ECMAScript" stopProcessing="false">
          <match serverVariable="RESPONSE_Access_Control_Allow_Origin" pattern=".*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true" />
          <action type="Rewrite" value="*" />
        </rule>
        <rule name="Add Header: X-Content-Type-Options" enabled="true" patternSyntax="ECMAScript" stopProcessing="false">
          <match serverVariable="RESPONSE_X_Content_Type_Options" pattern=".*" />
          <conditions logicalGrouping="MatchAny" trackAllCaptures="true" />
          <action type="Rewrite" value="nosniff" />
        </rule>
        <!--
                    This must be a value that allows for iframes from the same domain.
                    Iframes are used extensively when authoring.
                    Read-only servers will use iframes for logins.
                -->
        <rule name="Add Header: X-Frame-Options" enabled="true" patternSyntax="ECMAScript" stopProcessing="false">
          <match serverVariable="RESPONSE_X_Frame_Options" pattern=".*" />
          <conditions logicalGrouping="MatchAny" trackAllCaptures="true" />
          <action type="Rewrite" value="SAMEORIGIN" />
        </rule>
        <rule name="Add Header: X-XSS-Protection" enabled="true" patternSyntax="ECMAScript" stopProcessing="false">
          <match serverVariable="RESPONSE_X_XSS_Protection" pattern=".*" />
          <conditions logicalGrouping="MatchAny" trackAllCaptures="true" />
          <action type="Rewrite" value="1; mode=block" />
        </rule>

        <!-- Add Caching Headers -->

        <rule name="Add Header: Cache-Control for ADF Installation Files" preCondition="Is ADF Installation File" enabled="true">
          <match serverVariable="RESPONSE_Cache_Control" pattern=".*" />
          <action type="Rewrite" value="max-age=32400" />
          <conditions>
          </conditions>
        </rule>
        <rule name="Add Header: Cache-Control for CommonSpot Images" preCondition="Is CommonSpot Image" enabled="true">
          <match serverVariable="RESPONSE_Cache_Control" pattern=".*" />
          <action type="Rewrite" value="max-age=86400" />
          <conditions>
          </conditions>
        </rule>
        <rule name="Add Header: Cache-Control for CommonSpot Installation Files" preCondition="Is CommonSpot Installation File" enabled="true">
          <match serverVariable="RESPONSE_Cache_Control" pattern=".*" />
          <action type="Rewrite" value="max-age=32400" />
          <conditions>
          </conditions>
        </rule>
        <rule name="Add Header: Cache-Control for CommonSpot Uploads" preCondition="Is CommonSpot Upload" enabled="true">
          <match serverVariable="RESPONSE_Cache_Control" pattern=".*" />
          <action type="Rewrite" value="max-age=0" />
          <conditions>
          </conditions>
        </rule>
        <rule name="Add Header: Cache-Control for Site Style Sheets" preCondition="Is Site Style Sheet" enabled="true">
          <match serverVariable="RESPONSE_Cache_Control" pattern=".*" />
          <action type="Rewrite" value="max-age=600" />
          <conditions>
          </conditions>
        </rule>

        <!-- Add Miscellaneous Headers -->

        <rule name="Add Header: X-Served-By" enabled="true" stopProcessing="false">
          <match serverVariable="RESPONSE_X_Served_By" pattern=".*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true" />
          <action type="Rewrite" value="{IPs to Server Names:{LOCAL_ADDR}}" />
        </rule>

        <rule name="Add Header: X-UA-Compatible" preCondition="Is HTML" enabled="true" patternSyntax="ECMAScript" stopProcessing="false">
          <match serverVariable="RESPONSE_X_UA_Compatible" pattern=".*" />
          <conditions logicalGrouping="MatchAny" trackAllCaptures="true" />
          <action type="Rewrite" value="IE=edge" />
        </rule>

        <!-- Remove Leaky Headers -->

        <rule name="Remove Header: Server">
          <match serverVariable="RESPONSE_Server" pattern=".*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true" />
          <action type="Rewrite" />
        </rule>
        <rule name="Remove Header: X-Powered-By">
          <match serverVariable="RESPONSE_X_Powered_By" pattern=".*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true" />
          <action type="Rewrite" />
        </rule>

        <preConditions>
          <preCondition name="Is ADF Installation File">
            <add input="{URL}" pattern="^/adf(/|$)" negate="false" />
          </preCondition>
          <preCondition name="Is CommonSpot Image">
            <add input="{URL}" pattern=".*/images/.*" />
            <add input="{URL}" pattern=".*/templates/.*" negate="true" />
          </preCondition>
          <preCondition name="Is CommonSpot Installation File">
            <add input="{URL}" pattern="^/commonspot(/|$)" negate="false" />
          </preCondition>
          <preCondition name="Is CommonSpot Upload">
            <add input="{URL}" pattern=".*/upload/.*" negate="false" />
          </preCondition>
          <preCondition name="Is Site Style Sheet">
            <add input="{URL}" pattern="^/www/style(/|$)" negate="false" />
          </preCondition>
          <preCondition name="Is HTML">
            <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" negate="false" />
          </preCondition>
          <preCondition name="Is WOFF">
            <add input="{RESPONSE_CONTENT_TYPE}" pattern="^application/font-woff" negate="false" />
          </preCondition>
          <preCondition name="Is Debugging" logicalGrouping="MatchAny">
            <add input="{REMOTE_ADDR}" pattern="^127\." />
            <add input="{REMOTE_ADDR}" pattern="^0\." />
            <add input="{REMOTE_ADDR}" pattern="^10\.10\.16\.33$" />
            <add input="{REMOTE_ADDR}" pattern="^10\.10\.16\.34$" />
            <add input="{REMOTE_ADDR}" pattern="^10\.10\.16\.35$" />
            <add input="{REMOTE_ADDR}" pattern="^10\.10\.16\.204$" />
            <add input="{REMOTE_ADDR}" pattern="^10\.10\.16\.205$" />
            <add input="{REMOTE_ADDR}" pattern="^10\.10\.16\.206$" />
            <add input="{QUERY_STRING}" pattern="(?:^|&amp;)debugging=(?:1|true|yes)(?:&amp;|$)" />
            <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
                        **CaptainKirk:**     10.10.16.33
                        **MisterSpock:**     10.10.16.34
                        **GeneRoddenberry:** 10.10.16.35
                        **HanSolo:**         10.10.16.204
                        **LukeSkywalker:**   10.10.16.205
                        **GeorgeLucas:**     10.10.16.206
                        =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- -->
          </preCondition>
        </preConditions>
      </outboundRules>
      <rewriteMaps>
        <rewriteMap name="IPs to Server Names">
          <add key="127.0.0.1" value="Localhost" />
          <add key="10.10.16.206" value="GeorgeLucas" />
          <add key="10.10.16.204" value="HanSolo" />
          <add key="10.10.16.205" value="LukeSkywalker" />
          <add key="10.10.16.35" value="GeneRoddenberry" />
          <add key="10.10.16.33" value="CaptainKirk" />
          <add key="10.10.16.34" value="MisterSpock" />
        </rewriteMap>
        <rewriteMap name="SSL1 Prefix to Domain">
          <add key="mu" value="mercer.edu" />
          <add key="com" value="com" />
          <add key="tv" value="tv" />
        </rewriteMap>
        <rewriteMap name="Domain to SSL1 Prefix">
          <add key="mercer.edu" value="mu" />
          <add key="com" value="com" />
          <add key="tv" value="tv" />
        </rewriteMap>
        <rewriteMap name="HTTPS Server Variable Value to s">
          <add key="on" value="s" />
        </rewriteMap>
      </rewriteMaps>
    </rewrite>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" dynamicCompressionBeforeCache="false" />
    <staticContent>
      <mimeMap fileExtension=".bz2" mimeType="application/x-bzip2" />
      <mimeMap fileExtension=".dmg" mimeType="application/x-apple-diskimage" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <httpProtocol allowKeepAlive="true" />
    <directoryBrowse enabled="false" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="100000000" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
